<div class="section">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
</owl-carousel-o>

<!-- <ng-container *ngFor="let slide of slidesStore">
  <ng-template carouselSlide [id]="slide.id">
      <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
  </ng-template>
</ng-container> -->
  <!-- <carousel>
    <div class="carousel-cell">
      <div class="col-12 col-md-4">
        <a href="#detail-sadova">
          <div class="card mb-2">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Sadova</h4>
              <p class="card-text">
                REALIZÁCIA
                2020
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="carousel-cell">
      <div class="col-12 col-md-4">
        <a href="#detail-sadova">
          <div class="card mb-2">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Sadova</h4>
              <p class="card-text">
                REALIZÁCIA
                2020
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </carousel> -->


  <!-- <h1>Section 2</h1>
  <button (click)="addSection()">Add sections and change color</button>
  <button (click)="fullpage_api.moveSectionDown()">Move down</button>
  <button (click)="removeLast()">Remove last</button>
  <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel"> -->
    <!--Controls-->
    <!-- <div class="controls-top">
      <a class="btn" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div> -->
    <!--/.Indicators-->
    <!-- <div class="carousel-inner v-2" role="listbox">
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <a href="#detail-sadova">
            <div class="card mb-2">
              <img class="card-img-top" src="" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title font-weight-bold">Sadova</h4>
                <p class="card-text">
                  REALIZÁCIA
                  2020
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>