<div class="section">
  <div id="logo">
    <div class="logo-line even"><a href="#projekty-rodinne-domy">RODINNÉ DOMY</a><span><a
          href="#projects-houses">HOUSES</a></span></div>
    <div class="logo-line odd"></div>
    <div class="logo-line even left-align"><span><a href="#projects-residential">RESIDENTIAL</a></span><a
        href="#projekty-bytove-domy">BYTOVÉ DOMY</a></div>
    <div class="logo-line odd left-align"></div>
    <div class="logo-line even"><a href="#projekty-polyfunkcia">POLYFUNKCIA</a><span><a
          href="#projects-commercial">COMMERCIAL</a></span></div>
    <div class="logo-line odd"></div>
    <div class="logo-line even left-align"><span><a href="#projects-interiors">INTERIORS</a></span><a
        href="#projekty-interiery">INTERIÉRY</a></div>
    <div class="logo-line odd left-align"></div>
    <div class="logo-line even"><a href="#projekty-publikacie">PUBLIKÁCIE</a><span><a
          href="#projects-publications">PUBLICATIONS</a></span></div>
    <div class="logo-line odd"></div>
    <div class="logo-text">
      <img src="assets/img/svg/logo-sign.svg" alt="Art Of Space" />
    </div>
  </div>

</div>